[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
uuid = "*"
logging = "*"
python-dotenv = "*"
httpx = "*"
httpcore = {extras = ["asyncio"], version = "*"}
python-telegram-bot = {extras = ["all"], version = "*"}

[dev-packages]

[requires]
python_version = "3.13"
